body {
    font-family: 'Roboto', sans-serif;
      color: #434455;
      background-color: #fff;
  }
  
  a {
    text-decoration: none;
  }
  ul, ol {
    list-style: none;
  }
  .logo {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .logo-part {
    color: #2E2F42; 
  } 
  .nav-link {
    color: #2e2f42 ;
    font-weight: 500;
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .nav-link:hover,
  .nav-link:focus {
  color: #404bbf;
  }
  .address {
    font-style: normal;
  }
  .address-link {
    color: #434455;
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .address-link:hover {
    color: #404bbf ;
  }
  .address-link:focus {
    color: #404bbf  ;
  }
  .hero-image {
    background-color: #2E2F42;
  }
  .hero-image-name {
    color: #fff;
    font-weight: 700;
    font-size: 56px; 
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .btn {
    cursor: pointer;
  }

    .btn {
      font-family: 'Roboto', sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    }

  .btn:hover {
    background-color: #404BBF ;
  }
  .btn:focus {
  background-color: #404BBF ;
  }
  
  .benefit-name {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
  }
  .benefit-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
  }
  .sect-our-team {
    background-color: #F4F4FD;
  }

  .sect-our-team {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }
  .our-team-list {
    background-color: #FFFFFF ;

  }
  .sect-our-team-name {
font-weight: 700;
font-size: 36px; 
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
text-align: center;

  }
  .member-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
  }
.our-team--member-profesion {
color: #434455 ;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }

  .sect-our-portfolio {  
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  }


  .sect-our-portfolio-title {
    color: #2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
  }
  .sect-name {
    color: #2E2F42 ;
     font-weight: 500;
     font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .out-portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#434455  ;
  }
  .ground {
    background-color: #2E2F42;

  }
  .ground .logo-part {
    color: #F4F4FD;
  }
  .ground-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
     letter-spacing: 0.02em;  
  }